*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Enriqueta', serif;
}

.cont_sintomas{
    height: 300px;
}

.texto_pagina_sintomas{
    height: 400px;
}


.texto_pagina_sintomas{
    text-align: center;
    padding: 60px;
    font-size: 25px;
    color: #7C7878;
}



.boton_pagina_sintomas{
    font-size: 32px;
    padding: 50px;
    text-align: center;
    border-radius: 100px;
    transition: all 0.4s ease 0s ;
   
}


.boton_pagina_sintomas:hover {
    font-size: 34px;
    background-color: #869B33;
    transition: all 0.4s ease 0s ;
}






.img_cardio{
    background: url(img/problemas/cardiaco.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    background-size: 110%;
}


.img_sobrepeso{
    background: url(img/problemas/sobrepeso.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    background-size: 110%;
}



.imagenSintomasCardiacos{
    background: url(img/problemas/cardio1.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 5px;
    background-size: 100%;
}

.texto_pagina_sintomas{background-color: #F0F0F0;}
.cont_sintomas{background-color: #F0F0F0;  }




.frase_sintomas{
    text-align: center;
    padding: 70px 40px 40px 40px;
    height: 900px;
    background-color: #f0f0f0;
}
.frase_sintomas p{
    color: #7C7878;
    font-size: 30px;
}



.ingredientes_sintomas{
    
    height: 900px;
    background-color: #ADC743;


    color: white;
    align-items: center;
    text-align: center;
}

.ingredientes_sintomas hr{
    height: 5px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: .5;
}




.titulo_sintomas{
    height: 300px;
    background-color: #f0f0f0;

    color: #7C7878;
    font-size: 40px;
    text-align: center;
}



/*Pagina Cardiaco*/
.nombre_sintoma{
    height: 400px;
    background-color: #f0f0f0;
}

.nombre_sintoma h1{
    text-align: center;
    padding: 40px;
    font-size: 70px;
    color: #7C7878;
}

.sub_sintomas{
    text-align: center;
    font-size: 40px;
    height: 500px; 
    background-color: #f0f0f0;
    color: #7C7878;
}





.des_general{
    height: 300px;
    background-color: #f0f0f0;


    overflow: auto;
    color: #7C7878;
    font-size: 25px;
    padding: 40px;
}




.preparacion_sintomas{
    height: 900px;
    background-color: #f0f0f0;


    overflow: auto;
    color: #7C7878;
    font-size: 25px;
    padding: 40px;
}


.factor_riesgo{
    height: 900px;
    background-color: #f0f0f0;


    overflow: auto;
    color: #7C7878;
    font-size: 25px;
    padding: 40px;
}

.factor_riesgo2{
    height: 900px;
    background-color: #f0f0f0;


    overflow: auto;
    color: #7C7878;
    font-size: 25px;
    padding: 40px;
}







































@media screen and (max-width: 992px){

    .cont_sintomas{
        height: 900px;
    }

    .cont{
        height:500px;
    }

    .titulo_sintomas{
        font-size: 25px;
    }

    .des_general{
        height: 750px;
    }

    .texto_pagina_sintomas{
        height: 750px;
        font-size: 30px;
    }

    .frase{
        height: 750px;
    }

    .preparacion{
        font-size: 20px;
        
    }

    .titulo_recetas{
        font-size: 25px;
    }
    
    .preparacion_sintomas{
        height: 1100px;
        font-size: 20px;
    }

    .factor_riesgo{
        height: 1300px;
        font-size: 20px;
    }

    .factor_riesgo2{
        height: 2000px;
        font-size: 20px;
    }

    .ingredientes_sintomas{
        height: 1100px;
        font-size: 20px;
    }
}